* {
    margin: 0;
    
  
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .navbar {
    display: flex;
    align-items: self-end;
      justify-content: space-between;
    padding: 20px;
    background-color: #607d8b;
    
  }
  .nav-links a {
    color: #0a260f;
    /* margin-right: 20em; */
    background-color: #91cad1;
  }
  .logo {
    width: -1px;
    /* margin-right: 10em; */
    font-size: x-large;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .services {
    position: relative;
  }
  .dropdown {
    /* background-color: rgb(1, 139, 139); */
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    /* top: 35px; */
  }
  .dropdown li + li {
    margin-top: 10px;
  }
  .dropdown li {
    padding: 0.5em 1em;
    width: 10em;
    text-align: center;
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  .services:hover .dropdown {
    display: block;
  }
  .navbar2 {
    background-image: url(./lightcolor.jpg);
    padding: 28px;
    background-size: cover;
  }
  
  .middle {
    display: flex;
    gap: 12em;
    /* align-items: center;
    justify-content: center;
    margin-top: -110px; */
    font-size: 18px;
  }
  
  .container2 {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 4em;
  }
  .Bottom {
    background-image: url("./backgroundblood.jpg");
      padding: 72px;
      background-size: cover;
   }
   .Bottom1 {
     background-image: url("./bloodimg.png");
       background-color: #95abab;
        padding: 85px;
        background-size: contain;
     }
     .Bottom2 {
       background-image: url("./bloodhand.jpg");
       background-color: #95abab;
        padding: 132px;
        background-size: cover;
     }
     .Details_mid {
      color: white;
      }
    .Details_left {
        color: white;
      }
      .Details_right {
        color: white;
      }
      .navbar1 {
        display: flex;
        align-items: self-end;
          justify-content: space-between;
        padding: 20px;
        background-color: #607d8b;
        margin: 5px;
        
      }
      .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
      }
      .navbar2 {
        display: flex;
        align-items: self-end;
          justify-content: space-between;
        padding: 20px;
        background-color: #607d8b;
        margin: 5px;
        
      }
      .Details_deepak {
        color: white;
        
}
